.todoBlock {
	flex:2;
}

.todoBlock__list {
	margin:0;
	padding:0
}

.todoBlock__li {
	background:#A2AEBB;
	border-radius: 3px;
	padding: 20px;
	text-align: left;
	list-style: none;
	color: white;
	height: 60px;
	margin-bottom: 20px;
	letter-spacing: 5px;
	display: flex;
	justify-content: space-between;
}


.todoBlock--desc {
	margin-left: 15px;
}

@media (max-width: 800px) {
	.todoBlock {
		display: block;
		width: 95%;
	}
}

@media (max-width: 600px) {
	.todoBlock__li {
		display: flex;
		flex-direction: column;
	}
}
